<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karigars India</title>

    <!-- carousel -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
    />
    <!-- dfvgf -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav1.css">
    <!-- <link rel="stylesheet" href="css/lastsec.css"> -->
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="css/reviews.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.4-rc1/css/foundation.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"> -->


</head>

<body>
    <!--================== Header Section Starts from Here ==================-->
    <%- include("nav1") -%>


        <!--================== Home Section Starts from Here ==================-->
        <div class=" home-el text-center mx-0">
            <h1 class="custom-h1 cold"></h1>
            <p class="custom-p"></p>
        </div>
        <!--================== Home Section Ends Here -->

        <!--================== Workflow Section Starts from Here ==================-->
        <section id="workFlow">
            <h2 class="heading"> One Place, Dream Jobs. </h2>
            <p class="para">Karigars India, a sister company of DesignKoktail, is a unique platform connecting skilled labor with better opportunities and wages. Our mission is to empower artisans and craftsmen by bridging the gap between them and potential employers.
                Join us and be a part of a growing community that values craftsmanship and hard work.</p>
            <div class="banner">
                <br>
                <br>
                <div class="num-container">
                    <div class="num-item"><span><img class="img-description" src="https://cdn-icons-png.flaticon.com/512/1067/1067617.png" alt=""><br>
                    27,882 <br>Customers</span></div>
                    <div class="num-item"><span><img class="img-description" src="https://cdn-icons-png.flaticon.com/512/9839/9839637.png" alt=""><br>90% <br>Action Plans</span></div>
                    <div class="num-item"><span><img class="img-description" src="https://cdn-icons-png.flaticon.com/512/2810/2810390.png" alt=""><br>70,592 <br>Downloads</span></div>
                </div>
                <br>
                <br>
            </div>
        </section>
        <!--================== Workflow Section Ends Here -->


        <!--================== Goal Section Starts from Here ==================-->
        <section id="goal">
            <div class="goal-left">
                <h2 class="heading2">Our Goals</h2>
                <p>Empower karigars to market their products online: The website can provide a platform for karigars to showcase their products and reach a wider audience. The goal can be to enable karigars to market their products online, which can help
                    them expand their customer base and increase their income.Join us in our mission to revolutionize the job market and create a brighter future for skilled workers in India.
                    <span id="dots"></span>
                    <span>
                        <ul id="more">
                            <li> Support karigars in improving their skills and business practices: The website can provide resources such as tutorials, articles, and webinars that help karigars improve their skills and business practices. The goal can be
                                to support karigars in becoming more successful and sustainable in their craft.</li>
                            <li> Create a community of karigars and like-minded individuals: The website can provide a platform for karigars to connect with each other and with other individuals who appreciate traditional crafts. The goal can be to create
                                a supportive community where karigars can share knowledge, exchange ideas, and collaborate on projects.</li>
                            <li> Preserve and promote traditional crafts and culture: The website can highlight the importance of traditional crafts and culture and promote their preservation. The goal can be to increase awareness about the value of these
                                crafts and to inspire individuals to support and appreciate them.</li>
                            <li>Increase income for karigars and contribute to their economic empowerment: The website can provide a platform for karigars to sell their products online and increase their income. The goal can be to contribute to the economic
                                empowerment of karigars and their families by providing them with an additional source of income.</li>
                        </ul>
                    </span>
                </p>
                <button onclick="myFunction()" id="myBtn">Read more</button>
            </div>
            <div class="goal-right">
                <img src="/images/designkoktail.jpg" alt="">
            </div>
        </section>
        <!--================== Goal Section Ends Here -->

        <!--================== Our Team Section Starts from Here ==================-->
        <div class="responsive-container-block outer-container">
            <div class="responsive-container-block inner-container">
                <p class="text-blk section-head-text">
                    Meet Our Team
                </p>
                <div class="responsive-container-block">
                    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                        <div class="team-card">
                            <div class="img-wrapper">
                                <img class="team-img" src="images/neha300.png">
                            </div>
                            <p class="text-blk name">
                                Neha Jha
                            </p>
                            <p class="text-blk position">
                                Developer
                            </p>
                            <div class="social-media-links">
                                <a href="http://www.twitter.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                                </a>
                                <a href="http://www.facebook.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                                </a>
                                <a href="http://www.instagram.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                                </a>
                                <a href="http://www.gmail.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                        <div class="team-card">
                            <div class="img-wrapper">
                                <img class="team-img" src="images/raj300.png">
                            </div>
                            <p class="text-blk name">
                                Raj Aayush
                            </p>
                            <p class="text-blk position">
                                Developer
                            </p>
                            <div class="social-media-links">
                                <a href="http://www.twitter.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                                </a>
                                <a href="http://www.facebook.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                                </a>
                                <a href="http://www.instagram.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                                </a>
                                <a href="http://www.gmail.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                        <div class="team-card">
                            <div class="img-wrapper">
                                <img class="team-img" src="images/aman300.png">
                            </div>
                            <p class="text-blk name">
                                Aman Verma
                            </p>
                            <p class="text-blk position">
                                Developer
                            </p>
                            <div class="social-media-links">
                                <a href="http://www.twitter.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                                </a>
                                <a href="http://www.facebook.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                                </a>
                                <a href="http://www.instagram.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                                </a>
                                <a href="http://www.gmail.com/" target="_blank">
                                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================== Our Team Section Ends Here -->

        <!--================== Footer Starts from Here ==================-->
        <%- include("footer") -%>
            <!--================== Footer Ends Here -->

</body>
<script src="js/about.js"></script>

</html>

</html>