<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/nav1.css">
        <link rel="stylesheet" href="css/button.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
  <%- include("nav1") -%>
    <div class=" home-el text-center mx-0">
        <h1 class="custom-h1 cold"></h1>
        <p class="custom-p"></p>
    </div>
    <section>
        <div class="container">
          <div class="contactinfo">
            <div>
              <h2>Contact Us</h2>
              <ul class="info">
                <li>
                  <span>
                    <img src="https://www.clipartmax.com/png/middle/121-1214856_pro-locator-free-location-icon-vector.png" />
                  </span>
                  <span class="send">
                    #CB-228D/E, Naraiana Ring Road,
                    New Delhi- 110028 <br />
                    (India)
                  </span>
                </li>
                <li>
                  <span>
                    <img src="https://p7.hiclipart.com/preview/663/97/225/email-computer-icons-message-bounce-address-email-icon.jpg" />
                  </span>
                  <span>
                    karigarsIndia.in@gmail.com
                  </span>
                </li>
                <li>
                  <span>
                    <img src="https://www.pinclipart.com/picdir/middle/210-2108807_tete-mobile-svg-png-icon-free-download-phone.png" />
                  </span>
                  <span>
                    7011447737
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="contactusform">
            <h2 class="send">Send Us A Message</h2>
            <div class="formBox">
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Email Address</span>
              </div>
              <div class="inputBox w100">
                <textarea name="" required></textarea>
                <span>Please enter a message</span>
              </div>
              <div class="inputBox w50">
                <a href="/cpop"><input type="submit" value="Send"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("footer") -%>
</body>
</html>