<div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          
          <img src="images/7.jpg" alt="">
        </div>
        <div class="blog-slider__content">
          
          <div class="blog-slider__title">Sourav</div>
          <span class="blog-slider__code" style="color: black;"><h5>Team Head, Wipro</h5></span>
          <div class="blog-slider__text">Hiring from here is way easier then other. I am very happy with their work. </div>
          <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="images/8.jpg" alt="">
        </div>
        <div class="blog-slider__content">
            <div class="blog-slider__title">Himanshu</div>
            <span class="blog-slider__code" style="color: black;"><h5>Front end Developer, TCS, Mumbai</h5></span>
            <div class="blog-slider__text">Simple and easy to apply, nice experience.</div>
            <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
      
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="images/9.jpg" alt="">
        </div>
        <div class="blog-slider__content">
            <div class="blog-slider__title">Gourav</div>
            <span class="blog-slider__code" style="color: black;"><h5>Manager, Affinity</h5></span>
            <div class="blog-slider__text">Good for hiring people they have the best data analysis for post your are searching for, happy by the work. </div>
            <a href="#" class="blog-slider__button">READ MORE</a>
        </div>
      </div>
      
    </div>
    <div class="blog-slider__pagination"></div>
  </div>