<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karigars India</title>

    <!-- carousel -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <!-- dfvgf -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav1.css">
    <link rel="stylesheet" href="css/lastsec.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/clients.css">
    <link rel="stylesheet" href="css/internship.css">
    <link rel="stylesheet" href="css/footer.css">


</head>

<body>
    <%- include("nav1") -%>
        <div class="slider-box">
            <div id="slider">
                <!-- <img src="images/img12.jpeg" alt=""> -->
                <img class="mySlides" src="images/3.jpg" alt="">
                <img class="mySlides"
                    src="https://karigarsindia.com/wp-content/uploads/slider/cache/71213a2d078d2dc86b8e440382eaf909/pexels-rodolfo-quiros-2219024-scaled.jpg"
                    alt="">
                <img class="mySlides"
                    src="https://karigarsindia.com/wp-content/uploads/slider/cache/d1467d0be722d39c726a0dc89dfda996/iStock-1174420117-1500x630-1.jpg"
                    alt="">
                <img class="mySlides"
                    src="https://karigarsindia.com/wp-content/uploads/slider/cache/e7a1de90ac1f5249b89166dbb23fd734/India_-_Painting_a_staircase_-_0063-scaled.jpg"
                    alt="">
                <!-- <img src="images/slide3.jpeg" alt="">
            <img src="images/slide4.jpeg" alt=""> -->
            </div>
            <div class="indicators">
                <span class="dot" id="btn1" class="active"></span>
                <span class="dot" id="btn2"></span>
                <span class="dot" id="btn3"></span>
                <span class="dot" id="btn4"></span>
            </div>
        </div>
        <br>
        <section id="client-section">
            <h2 class="h-primary clss center">Karigars Network</h2>
            <div class="clients">
                <div class="client-item">
                    <img src="images/11.jpg">
                    <p class="description">Carpenter</p>
                </div>
                <div class="client-item">
                    <img src="images/22.jpg">
                    <p class="description">Plumber</p>
                </div>
                <div class="client-item">
                    <img src="images/33.png">
                    <p class="description">Welder</p>
                </div>
                <div class="client-item">
                    <img src="images/44.jpg">
                    <p class="description">Labour and Mistri</p>
                </div>
                <div class="client-item">
                    <img src="images/img4.jpeg">
                    <p class="description">Electrician</p>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <!-- <div class="carousel-wrap">
            <div id="owl-carousel" class="owl-carousel">
              
              <div class="item"><img src="https://us.123rf.com/450wm/taronin/taronin1905/taronin190500012/124859598-welder-round-sign.jpg?ver=6">Welder</div>
              <div class="item"><img src="images/44.jpg">Labour and Mistri</div>
              <div class="item"><img src="images/33.png">Welder</div>
              <div class="item"><img src="images/22.jpg">Plumber</div>
              <div class="item"><img src="images/11.jpg">Carpenter</div>
              <div class="item"><img src="images/img4.jpeg">Electrician</div>
           
            </div>
          </div> -->
          <div class="container-fluid my-5">
            <h2 class="h-primary clss center">Skill Development</h2>
            <p class="centerr">We have completed and managed many government-sponsored projects.</p>
            <!-- <h1 class="text-center fw-bold display-1 mb-5">Owl <span class="text-danger">Carousel</span></h1> -->
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="owl-carousel owl-theme">
                        <div class="item mb-4">
                            <div class="card border-0 shadow">
                                <img src="images/c1.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Soft Toys,2 months Skill Development,Sponsored by DC at
                                            Ribdi,Sikkim</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c2.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Awareness Programme for Aatmnirbhar Bharat,Bihar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c3.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Skill Development to learn how to Stitch the
                                            Garments.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c4.jpg" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Toys,2 months Skill Development,Sponsored by DC at
                                            Ribdi,Sikkim</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c5.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Toys,2 months Skill Development,Sponsored by DC at
                                            Ribdi,Sikkim</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c6.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Bamboo & Cane Craft Workshop Sponsored by DC at
                                            Chittoor,A.P.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c7.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Bamboo & Cane Craft Workshop Sponsored by DC at
                                            Chittoor,A.P.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c8.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Awareness Program Sponsored by Kisan Foundation,Bihar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card border-0 shadow">
                                <img src="images/c9.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <p class="para-centerr">Awareness Program Sponsored by Kisan Foundation,Bihar</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        



        <section id="client-section">
            <h2 class="h-primary clss center">Offering Internship</h2>
            <p class="centerr">Come together and your new journey for your future.</p>
            <br>
            <div class="clients">
                <div class="client-item cls">
                    <img src="images/img5.jpg">
                    <p class="description">HR Management</p>
                </div>
                <div class="client-item cls">
                    <img src="images/img6.jpg">
                    <p class="description">Accountant</p>
                </div>
                <div class="client-item cls">
                    <img src="images/img7.jpg">
                    <p class="description">Digital Marketing</p>
                </div>
                <div class="client-item cls">
                    <img src="images/img8.jpg">
                    <p class="description">Designing</p>
                </div>
                <div class="client-item cls">
                    <img src="images/img9.jpg">
                    <p class="description">Finance / Sales</p>
                </div>
            </div>
        </section>




        <h2 class="h-primary clss center">Happy Customers</h2>
        <p class="centerr">"Our most unhappy customers are our greatest source of learning"</p>
        <%- include("customers") -%>

            <br>
            <br>
            <%- include("footer") -%>
                <div class="app">
                    <a href="https://wa.me/+918178346064"><i class="fab fa-whatsapp"></i></a>
                </div>



                <!------- carouseljs -------->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
                    crossorigin="anonymous"></script>
                    <script>
                        // $('#owl-carousel').owlCarousel({
                        //     loop: true,
                        //     margin: 10,
                        //     nav: true,
                        //     // navText: [
                        //     //     "<i class='fa fa-caret-left'></i>",
                        //     //     "<i class='fa fa-caret-right'></i>"
                        //     // ],
                        //     autoplay: true,
                        //     // autoplayHoverPause: true,
                        //     responsive: {
                        //         0: {
                        //         items: 1
                        //         },
                        //         600: {
                        //         items: 3
                        //         },
                        //         1000: {
                        //         items: 5
                        //         }
                        //     }
                        // });

                    $('.owl-carousel').owlCarousel({
                        loop: true,
                        margin: 15,
                        nav: true,
                        autoplay: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 3
                            }
                        }
                    });
                </script>

                <!----------- carouseljs -------->

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js'></script>
<script src="js/nav1.js"></script>
<script src="js/slider.js"></script>
<script src="js/lastsec.js"></script>

</html>