<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships Offered</title>
    <link rel="stylesheet" href="css/intern.css">
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/button.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>
  <%- include("nav") -%>
    <div class=" home-el text-center mx-0">
        <h1 class="custom-h1 cold"></h1>
        <p class="custom-p"></p>
    </div>
    <br>
    <br>
    <section>
        <div class="container">

          <div class="contactusform">
            <h2 class="send">Internship Join Us</h2>
            <div class="formBox">
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>First Name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Last Name</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Email Address</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Phone</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Qualification</span>
              </div>
              <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Experience</span>
              </div>
              <div class="inputBox w100">
                <textarea name="" required></textarea>
                <span>Past Experience (if any)</span>
              </div>
              <div class="inputBox w100">
                <textarea name="" required></textarea>
                <span>Tell us more about you(if any)</span>
              </div>
              <div class="inputBox w50">
                <input type="submit" value="Send">
              </div>
            </div>
          </div>
        </div>
      </section>
      <br>
      <br>
      <%- include("footer") -%>
</body>
</html>