<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Number verification with OTP</title>
<link rel="stylesheet" href="css/nav1.css" />
<link rel="stylesheet" href="css/footer.css"/>
<link rel="stylesheet" href="css/internship.css"/>
<link rel="stylesheet" href="css/button.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
.containerr {
		width: 302px;
		height: 175px;
		position: relative;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		margin: auto;
	}
    .backk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:90vh;
    }
    .back{
       height: 300px;
       background-color: rgb(218, 255, 219); 
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        width:350px;
       
        
       

    }
	#number, #verificationcode {
		width: calc(100% - 24px);
		padding: 10px;
		font-size: 20px;
		margin-bottom: 5px;
		outline: none;
	}
	#recaptcha-container {
		margin-bottom: 5px;
	}
	#send, #verify, #bth {
		width: 100%;
		height: 40px;
		outline: none;
		cursor: pointer;
		background-color: #01411C;
		color: rgb(255, 255, 255);
		margin-top: 8px;
	}
	#number, #verificationcode{
		width: 100%;
		height: 40px;
	}
	.p-conf, .n-conf,.fianlbt {
		width: 100%;
		height: 40px;
		border: 2px solid green;
		border-radius: 4px;
		padding: 8px 10px;
		margin: 4px 0px;
		background-color: rgba(0, 249, 12, 0.5);
		display: none;
	}
	.n-conf {
		width: 100%;
		height: 40px;
		border-color: red;
		background-color: rgba(255, 0, 4, 0.5);
	}
     .title{
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 25px;
		color: #01411C;
		text-transform: uppercase;
		text-align: center;
		margin-top: 27px;
    }
</style>
</head>

<body>

	<%- include("nav1") -%>
	<div class="backk">
		<div class="back">
		
		
		<div class="containerr form">
			<div class="title">
				Enter Mobile Number  
			  </div>
			<div id="sender">
				<input type="text" id="number" placeholder="+91 92......XX">
				<div id="recaptcha-container"></div>
				<input type="button" id="send" value="Send" onClick="phoneAuth()">
			</div>
			<div id="verifier" style="display: none">
				<input type="text" id="verificationcode" placeholder="OTP Code">
				<input type="button" id="verify" value="Verify" onClick="codeverify()">
				<br>
				<input type="button" id="bth" value="Back to Home" onClick="bth()">
				<div class="p-conf">Number Verified</div>
				<div class="n-conf">OTP ERROR</div>
			</div>
		</div>
		</div>
	</div>

	<%- include("footer") -%>
<!--	add firebase SDK-->
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
<script>
	// For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
            apiKey: "AIzaSyDoMlriG5ch5Vursn-T1N8MOOtifZlT6LU",
            authDomain: "designkoktail-f13c3.firebaseapp.com",
            projectId: "designkoktail-f13c3",
            storageBucket: "designkoktail-f13c3.appspot.com",
            messagingSenderId: "237876784229",
            appId: "1:237876784229:web:85cdaab127d61f2b0c6a8c"
  };
	firebase.initializeApp(firebaseConfig);
render();
function render(){
	window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
	recaptchaVerifier.render();
}
	// function for send message
function phoneAuth(){
	var number = document.getElementById('number').value;
	firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function(confirmationResult){
	// firebase.auth().signInWithPhoneNumber(number).then(function(confirmationResult){
		window.confirmationResult = confirmationResult;
		coderesult = confirmationResult;
		document.getElementById('sender').style.display = 'none';
		document.getElementById('verifier').style.display = 'block';
	}).catch(function(error){
		alert(error.message);
	});
}
	// function for code verify
function codeverify(){
	var code = document.getElementById('verificationcode').value;
	coderesult.confirm(code).then(function(){
		document.getElementsByClassName('p-conf')[0].style.display = 'block';
		document.getElementsByClassName('n-conf')[0].style.display = 'none';
		
		window.location.replace("/");
	}).catch(function(){
		document.getElementsByClassName('p-conf')[0].style.display = 'none';
		document.getElementsByClassName('n-conf')[0].style.display = 'block';
	})
}

function bth()
{
	window.location.replace("/");
}
</script>
</body>
</html>
