<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/profile.css"> -->
    <link rel="stylesheet" href="css/profileinfo.css">
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/internship.css"/>
    <link rel="stylesheet" href="css/button.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <title>User Profile</title>
</head>
<body>
  <%- include("nav") -%>
      <%- include("profileinfo") -%>      
      <%- include("footer") -%>      
      <script src="style.js">
      </script>
</body>
</html>