<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/profile.css"> -->
    <link rel="stylesheet" href="css/profileinfo.css">
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/internship.css"/>
    <link rel="stylesheet" href="css/button.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <title>User Profile</title>
</head>
<body>
  <%- include("nav") -%>
      <%- include("profileinfo") -%>      
      <%- include("footer") -%>      

</body>
    <!-- <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js"; 
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js"; 
        import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
        const firebaseConfig = { 
            apiKey: "AIzaSyDoMlriG5ch5Vursn-T1N8MOOtifZlT6LU", 
            authDomain: "designkoktail-f13c3.firebaseapp.com", 
            projectId: "designkoktail-f13c3", 
            storageBucket:"designkoktail-f13c3.appspot.com", 
            messagingSenderId: "237876784229", 
            appId: "1:237876784229:web:85cdaab127d61f2b0c6a8c" 
        }; 
        // Initialize Firebase 
        const app = initializeApp(firebaseConfig); 
        const analytics = getAnalytics(app); 
        const auth = getAuth();

        auth.onAuthStateChanged((user)=>{
            console.log(user);
        });

  </script> -->
</html>