<html>
  <head>
    <title>Skill Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">

  </head>
  <body>
    <%- include("nav") -%>
    <div class="stl">
    <div class="container">
      <div class="title">Skill Development</div>
      <br>
      <form action="">

        <div class="user-details">
            <div class="form-group">
              <label class="form-title" for="">First name</label>
              <input type="text" placeholder="Enter first name" required>
            </div>
            <div class="form-group">
              <label class="form-title" for="">Middle name</label>
              <input type="text" placeholder="Enter middle name" required>
            </div>
            <div class="form-group">
              <label class="form-title" for="">Last name</label>
              <input type="text" placeholder="Enter last name" required>
            </div>
          </div>

        <div class="account-details">
            <div class="form-group">
              <label class="form-title" for="">Email</label>
              <input type="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label class="form-title" for="">Phone Number</label>
              <input type="tel" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
              <label class="form-title" for="">Qualification</label>
              <input type="text" placeholder="Confirm your password" required>
            </div>
            <div class="form-group">
                <label class="form-title" for="">Experience</label>
                <input type="text" placeholder="Confirm your password" required>
              </div>
              <div class="form-group">
                <label class="form-title" for="">Past Experience (if any)</label>
                <input type="text" placeholder="Confirm your password" required>
              </div>
              <div class="form-group">
                <label class="form-title" for="">Skills you want to learn?</label>
                <input type="password" placeholder="Confirm your password" required>
              </div>
          </div>
          
          <div class="button">
            <input type="submit" value="Register">
          </div>
      </form>
    </div>
</div>
<%- include("footer") -%>
  </body>
</html>